<header>
  <h1 class="flow-text">&nbsp;&nbsp;&nbsp;Bienvenido a EchaTuCuento</h1>
</header>

<div class="col s12 m7" *ngFor="let cuento of cuentos">
  <div class="card horizontal">
    <div class="card-image">
      <img *ngIf="cuento.imagenURL" src="{{cuento.imagenURL}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{cuento.cuerpo}}</p>
      </div>
      <table>
        <tr>
          <button type="button" class="btn btn-primary">Feliz: {{cuento.numFeliz}}</button>
          <button type="button" class="btn btn-primary">Triste: {{cuento.numTriste}}</button>
        </tr>
        <tr>
          <h5 *ngIf = "cuento.usuario" class="card-content"><small>{{cuento.usuario.nombre}}</small></h5>
          <h5 class="card-content"><small>{{cuento.fecha}}</small></h5>
        </tr>
      </table>
    </div>
  </div>
</div>
<form #nuevoCuento = "ngForm" (ngSubmit)="anadirCuento(nuevoCuento)" >
  <div class="form-group">
    <label *ngIf = "usuario">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Echa El Cuento Aquí: </label>
    <label *ngIf = "!usuario">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se requiere autentificación: </label>
    <div class="col-6">
      <textarea *ngIf="usuario" class="form-control-lg" rows="6" name="cuerpo" required minlength="1" maxlength="1000" #cuerpo='ngModel' [(ngModel)] ="enviar.cuerpo"></textarea>
    </div>
    <button *ngIf = "usuario" type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
<button *ngIf = "!usuario" class="btn btn-primary" (click)="patata()" >Login con Google</button>
